*{
    font-family: 'Alegreya', serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Eczar', serif;
    font-family: 'Gentium Plus', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Proza Libre', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Taviraj', serif;
    font-family: 'Trirong', serif;
    font-family: 'Work Sans', sans-serif;
}